---
import PersonalWebPage from "../layouts/Layout.astro";
---

<PersonalWebPage title="Álvaro Casas Martínez" />

<h1>ABOUT ME</h1>

<p>
    My name is Álvaro Casas Martínez and I am a fourth year student of aerospace
    engineering.
</p>

<p>My hobbies are:</p>

<ul>
    <li>Mountain biking</li>
    <li>Enduro</li>
    <li>Photoshop and video editing <a href="/Personal_projects"> Here there are some of my personal projects done</a></li>
</ul>