---
import PersonalWebPage from "../layouts/Layout.astro";
---

<PersonalWebPage title="Álvaro Casas Martínez" />
<style>
    a {
        background-color: rgba(126, 126, 126, 0.473);
        color: blue;
        border: 1px solid rgb(14, 44, 214);
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgb(62, 6, 214);
    }
</style>

<h1>ABOUT ME</h1>

<p>
    My name is Álvaro Casas Martínez and I am a fourth year student of aerospace
    engineering.
</p>

<p>My hobbies are:</p>

<ul>
    <li>Mountain biking</li>
    <li>Enduro</li>
    <li>Photoshop and video editing <a href="/Personal_projects"> here</a> there are some of my personal projects done</li>
</ul>