---
import PersonalWebPage from "../layouts/Layout.astro";
---

<PersonalWebPage title="Álvaro Casas Martínez" />
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        border: 1px solid #ccc;
        padding: 20px;
        width: 300px;
        margin: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card h2 {
        margin-top: 0;
    }

    .logo {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
</style>

<div class="card-container">
    <div class="card">
        <img
            src="../public/adelte.600x0.jpg"
            alt="Logo adelte"
            width="300"
            class="logo"
        />
        <div>
            <h4>
                <a href="https://www.adelte.com/"
                    ><strong>ADELTE</strong> The Boarding Company</a>
            </h4>
            <ul>
                <li>Production of technical drawings and small CAD designs.</li>
                <li>Study of potential customer offers</li>
                <li>General technical office work</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <img
            src="../public/1591691010208.jpg"
            alt="Logo cortefiel"
            width="300"
            class="logo"
        />
        <div>
            <h4>
                <a href="https://cortefiel.com/es/es"
                    ><strong>CORTEFIEL</strong></a>
            </h4>
            <ul>
                <li>Customer service</li>
                <li>Basic cash flow concepts</li>
            </ul>
        </div>
    </div>
</div>
