---
import PersonalWebPage from "../layouts/Layout.astro";
---

<PersonalWebPage title="Álvaro Casas Martínez" />

<style>
     .card-container {
      display: flex;
      justify-content: space-between;
    }
    .card {
        border: 2px solid #000000;
        padding: 40px;
        width: 400px;
        height: auto;
        margin: 20px;
        box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.1);
        background-color: #3f3f3f;
        display: inline-block;
        align-items: center;
        


    }

    .logo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
   
</style>
<p>
    As an nexample of my personal projects, here there are two logotypes that I
    designed to other subjects
</p>
<div class="class-container"> 
<div class="card">
    <img
        src="/77.png"
        alt="Logotipo de un proyecto"
        width="300"
        class="logo"
    />
    <p>Aerobatic electric plane designed to <strong>Planes Design</strong></p>

</div>

<div class="card">
    <img
        src="/Logo_png.png"
        alt="Logotipo de un segundo proyecto"
        width="350"
        class="logo"
    />
    <p>Water rocket designed to <strong>Manufacturing and maintenance technology</strong> subject</p>
</div>
</div>
