---
import PersonalWebPage from "../layouts/Layout.astro";
---

<PersonalWebPage title="Álvaro Casas Martínez" />

<style>
    .card {
        border: 1px solid #000000;
        padding: 20px;
        width: 300px;
        margin: 20px;
        box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.1);
        background-color: #3f3f3f;
        display: flex;
        flex-direction:column;

    }

    .logo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
</style>
<p>
    As ana example of my personal projects, here there are two logotypes that I
    designed to other subjects
</p>
<div class="card">
    <img
        src="../public/77.png"
        alt="Logotipo de un proyecto"
        width="300"
        class="logo"
    />
    <p>Aerobatic electric plane designed to <strong>Planes Design</strong></p>
</div>

<div class="card">
    <img
        src="../public/Logo_png.png"
        alt="Logotipo de un segundo proyecto"
        width="500"
        class="logo"
    />
    <p>Water rocket designed to <strong>Manufacturing and maintenance technology</strong></p>
</div>
