<header>
    <div id="logo">
      <a href="/">HOME</a>
    </div>
    <a href="/Aboutme">ABOUT ME</a>
    <a href="/Experience">EXPERIENCE</a>
    <a href="/Personal_projects">PERSONAL PROJECTS</a>
  </header>
  <style>
    header {
      background-color: rgba(161, 161, 161, 0);
      color: rgba(163, 160, 160, 0);
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-left: 1em;
      padding-right: 1em;
      font-family: 'Archivo', sans-serif;
      font-weight: 600;
      
    }
    #logo {
      margin-right: 1.5em;
    }
    header a {
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-decoration: none;
      color: white;
      border-bottom: 3px solid transparent;
      padding: 0.5em;
      padding-bottom: 0.3em;
    }
    header a:hover {
      border-bottom: 3px solid white;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.1);
    }
  </style>